<div>
  <h1>Third Day Demos</h1>
  <!-- <app-parent></app-parent> -->
  <div>
    <!-- <app-test-observable></app-test-observable> -->
    <!-- <app-observableuser></app-observableuser> -->
    <!-- <app-posts></app-posts> -->
    <div class="nav nav-bar">
      <span class="nav-item"><a routerLink="/home">Home</a></span>
      &nbsp;
      <span class="nav-item"><a routerLink="/users">User List</a></span>
      &nbsp;
      <span class="nav-item"><a routerLink="/posts">Posts</a></span>
    </div>
  </div> 
  <p></p>
  <router-outlet></router-outlet>
  
</div>